[submodule "core"]
	path = core
	url = git@github.com:foswiki/core.git
	branch = master
[submodule "AutoViewTemplatePlugin"]
	path = AutoViewTemplatePlugin
	url = git@github.com:foswiki/AutoViewTemplatePlugin.git
	branch = master
[submodule "CompareRevisionsAddOn"]
	path = CompareRevisionsAddOn
	url = git@github.com:foswiki/CompareRevisionsAddOn.git
	branch = master
[submodule "CommentPlugin"]
	path = CommentPlugin
	url = git@github.com:foswiki/CommentPlugin.git
	branch = master
[submodule "EditRowPlugin"]
	path = EditRowPlugin
	url = git@github.com:foswiki/EditRowPlugin.git
	branch = master
[submodule "EmptyPlugin"]
	path = EmptyPlugin
	url = git@github.com:foswiki/EmptyPlugin.git
	branch = master
[submodule "FamFamFamContrib"]
	path = FamFamFamContrib
	url = git@github.com:foswiki/FamFamFamContrib.git
	branch = master
[submodule "HistoryPlugin"]
	path = HistoryPlugin
	url = git@github.com:foswiki/HistoryPlugin.git
	branch = master
[submodule "HomePagePlugin"]
	path = HomePagePlugin
	url = git@github.com:foswiki/HomePagePlugin.git
	branch = master
[submodule "InterwikiPlugin"]
	path = InterwikiPlugin
	url = git@github.com:foswiki/InterwikiPlugin.git
	branch = master
[submodule "JEditableContrib"]
	path = JEditableContrib
	url = git@github.com:foswiki/JEditableContrib.git
	branch = master
[submodule "JSCalendarContrib"]
	path = JSCalendarContrib
	url = git@github.com:foswiki/JSCalendarContrib.git
	branch = master
[submodule "JQueryPlugin"]
	path = JQueryPlugin
	url = git@github.com:foswiki/JQueryPlugin.git
	branch = master
[submodule "MailerContrib"]
	path = MailerContrib
	url = git@github.com:foswiki/MailerContrib.git
	branch = master
[submodule "NatEditPlugin"]
	path = NatEditPlugin
	url = git@github.com:foswiki/NatEditPlugin.git
	branch = master
[submodule "PatternSkin"]
	path = PatternSkin
	url = git@github.com:foswiki/PatternSkin.git
	branch = master
[submodule "PlainFileStoreContrib"]
	path = PlainFileStoreContrib
	url = git@github.com:foswiki/PlainFileStoreContrib.git
	branch = master
[submodule "PreferencesPlugin"]
	path = PreferencesPlugin
	url = git@github.com:foswiki/PreferencesPlugin.git
	branch = master
[submodule "RCSStoreContrib"]
	path = RCSStoreContrib
	url = git@github.com:foswiki/RCSStoreContrib.git
	branch = master
[submodule "RenderListPlugin"]
	path = RenderListPlugin
	url = git@github.com:foswiki/RenderListPlugin.git
	branch = master
[submodule "SlideShowPlugin"]
	path = SlideShowPlugin
	url = git@github.com:foswiki/SlideShowPlugin.git
	branch = master
[submodule "SmiliesPlugin"]
	path = SmiliesPlugin
	url = git@github.com:foswiki/SmiliesPlugin.git
	branch = master
[submodule "SpreadSheetPlugin"]
	path = SpreadSheetPlugin
	url = git@github.com:foswiki/SpreadSheetPlugin.git
	branch = master
[submodule "SubscribePlugin"]
	path = SubscribePlugin
	url = git@github.com:foswiki/SubscribePlugin.git
	branch = master
[submodule "TablePlugin"]
	path = TablePlugin
	url = git@github.com:foswiki/TablePlugin.git
	branch = master
[submodule "TinyMCEPlugin"]
	path = TinyMCEPlugin
	url = git@github.com:foswiki/TinyMCEPlugin.git
	branch = master
[submodule "TipsContrib"]
	path = TipsContrib
	url = git@github.com:foswiki/TipsContrib.git
	branch = master
[submodule "TopicUserMappingContrib"]
	path = TopicUserMappingContrib
	url = git@github.com:foswiki/TopicUserMappingContrib.git
	branch = master
[submodule "TWikiCompatibilityPlugin"]
	path = TWikiCompatibilityPlugin
	url = git@github.com:foswiki/TWikiCompatibilityPlugin.git
	branch = master
[submodule "UpdatesPlugin"]
	path = UpdatesPlugin
	url = git@github.com:foswiki/UpdatesPlugin.git
	branch = master
[submodule "TwistyPlugin"]
	path = TwistyPlugin
	url = git@github.com:foswiki/TwistyPlugin.git
	branch = master
[submodule "WysiwygPlugin"]
	path = WysiwygPlugin
	url = git@github.com:foswiki/WysiwygPlugin.git
	branch = master
